# System Files
.DS_Store
*.pyc
__pycache__
.venv/
.idea/
.vscode/

# Project Data (Large Files)
src/output_folder/*.csv
src/archive/*.bin
src/archive_v2/*.bin
src/best_model.bin
src/best_model_v2.bin
src/standard_scaler.bin
src/standard_scaler_v2.bin
src/baseline.bin

# Experimental Data
src/experimental/__pycache__/
src/experimental/output_folder/

# C-Suite Binaries
src_c/engine
src_c/monitor
src_c/simulator
src_c/*.o
src_c/*.dSYM
src_c/baseline.bin
src_c/monitored_data.csv

# Analytics
src/analytics/*.png
src/analytics/*.json
src/analytics_v2/*.png
src/analytics_v2/*.json
